
body {
  background-color: lightblue;
  color: black;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  text-align: center;
}

form {
  margin-top: 30px;
}

input {
  padding: 8px;
  margin: 5px;
}

button {
  padding: 8px 14px;
  cursor: pointer;
}

.results {
  margin-top: 25px;
}
