

body {
  background-color: #eef2f7;
  color: #222;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  text-align: center;
}

form {
  margin-top: 30px;
}

input {
  padding: 8px;
  margin: 5px;
}

.results {
  margin-top: 25px;
}
